.logo {
    display: inline-block;
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    text-decoration: none;
    text-transform: uppercase;
    // color: var(--white-color);
    
    
}

